@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
    color: 000;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
}
h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}
h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}
h5{
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar{
    background-color: rgb(25, 33, 41); /* Dark Blue */
}
.nav-bar li{  
    list-style-type: none;
}
.nav-bar a{
    text-decoration: none;
    color:white;
    font-size: 2em;
}

header{
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

header h2{
    text-shadow: #020819 8px -20px 9px;
    font-size: 2.5em;
}

#general-information{
    background-color: rgb(25, 33, 41);
    color: white;
}
#general-information p{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.link-btn a{
    background-color: rgb(67,163,230); /* Blue */
    color: white;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

#structure .service-box{
    font-size: 1.7em;
    text-align: center;
}
#structure .service-box img{
    width: 125px;
}

#team{
    background-color: rgb(25, 33, 41);
    color: white;
}

#team .section-text p{
    font-size: 1.9em;
    text-align: center;
}

#team .member-name h4{
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px;
}
.dark-background{
    background-color: rgb(25, 33, 41);
}
.footer{
    background-color: rgb(25, 33, 41);
    color: white;
    text-align: center;
    font-size: 1.9em;
}
.footer li{
    text-decoration: none;
    list-style-type: none;
}
.footer a{
    color:rgb(67,163,230);
    text-decoration: none;
}
.address{
    font-style: normal;
    font-size: 0.8em;
}

